* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Stack Sans Text", sans-serif;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
}

.hero {
    width: 100%;
    height: 100%;
    background-image: url("assets/weatherbg.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content-box {
    background-color: none;
    backdrop-filter: blur(20px);
    height: 92%;
    width: 92%;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
}

.cont1 {
    width: 100%;
    height: 60px;
    /* background-color: blue; */
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
    border-bottom: 1.6px solid #334155;
}

.logo-box {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
    width: 200px;
    gap: 4px;

}

.info1 {
    height: 100%;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.cur-loc {
    color: black;
    font-weight: 500;
    display: flex;
    align-items: center;
    height: 60%;
    width: 140px;
    gap: 3px;
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 0px 0px 0px 5px;
    flex-shrink: 0;
    border: 1.6px solid #334155;
    background: none;
}

.temp {
    padding: 3px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: 100px;
    height: 60%;
    flex-shrink: 0;
    border: 1.6px solid #334155;
}

.btnbg {
    background-color: #3B82F6;
    color: #FFFFFF;
}

.none {
    background: none;
    color: black;

}

.temp button {

    height: 90%;
    width: 50%;
    border-radius: 10px;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

}

.input-box {
    width: 100%;
    height: 80px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1.6px solid #334155;
}

.inp-search-box {
    height: 40px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inp-search-box input {

    background: #0B1020;
    color: #FFFFFF;
    height: 100%;
    width: 79%;
    padding: 0px 10px 0px 10px;
    border-radius: 10px;
    outline: none;
    border: none;
}

.inp-search-box button {
    height: 100%;
    width: 20%;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #3B82F6;
    color: #FFFFFF;
    transition: all ease 0.2s;
}
.inp-search-box button:hover{
    background-color: #2a6dff;
}







.main-wtr-info {
    width: 100%;
    height: 350px;
    background-color: pink;
    flex-shrink: 0;
}


.wtr-details {
    width: 100%;
    height: 120px;
    background-color: blue;
    flex-shrink: 0;

}

.last-cont {
    width: 100%;
    height: 100%;
    background-color: green;

}












/* .dash1 {
    height: 100%;
    width: 12%;
    background-color: none;
    backdrop-filter: blur(15px);
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.wtrlogo {
    background-image: url("assets/Weather.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
    width: 100%;
    
}

.option-box {
    position: relative;
    margin-top: 20px;
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

}

.options {
    height: 60px;
    width: 100%;
    color: white;
    backdrop-filter: blur(90px);
    border-radius: 20px;
    display: flex;
    gap: 10px;
    justify-content: start;
    align-items: center;
    padding: 0px 0px 0px 8px;
    transition: all 0.2s ease-in;

}
.options:hover{
    background: rgba(0, 0, 0, 0.3);
}

.premium {
    position: absolute;
    height: 90px;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.1);
    bottom: 2%;
    border-radius: 20px;
} */