* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Stack Sans Text", sans-serif;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
}

.hero {
    width: 100%;
    height: 100%;
    background-image: url("assets/weatherbg.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content-box {
    height: 92%;
    width: 92%;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dash1 {
    height: 100%;
    width: 12%;
    background-color: red;
}

.dash2 {
    height: 100%;
    width: 87%;
    background-color: red;
}