* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Stack Sans Text", sans-serif;
    scrollbar-width: none;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
}

.hero {
    width: 100%;
    height: 100%;
    background-image: url("assets/weatherbg.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content-box {
    background-color: none;
    backdrop-filter: blur(20px);
    height: 92%;
    width: 92%;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
}

.cont1 {
    width: 100%;
    height: 60px;
    /* background-color: blue; */
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px 0px 10px;
    border-bottom: 1.6px solid #334155;
}

.logo-box {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
    width: 200px;
    gap: 4px;

}

.info1 {
    height: 100%;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.cur-loc {
    color: black;
    font-weight: 500;
    display: flex;
    align-items: center;
    height: 60%;
    width: 140px;
    gap: 2px;
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 0px 0px 0px 5px;
    flex-shrink: 0;
    border: 1.6px solid #334155;
    background: none;
}

.temp {
    padding: 3px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: 100px;
    height: 60%;
    flex-shrink: 0;
    border: 1.6px solid #334155;

}

.btnbg {
    background-color: #3B82F6;
    color: #FFFFFF;
}

.none {
    background: none;
    color: black;

}

.temp button {

    height: 90%;
    width: 50%;
    border-radius: 10px;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

}

.input-box {
    width: 100%;
    height: 80px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1.6px solid #334155;
}

.inp-search-box {
    height: 40px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inp-search-box input {

    background: #0B1020;
    color: #FFFFFF;
    height: 100%;
    width: 79%;
    padding: 0px 10px 0px 10px;
    border-radius: 10px;
    outline: none;
    border: none;
}

.inp-search-box button {
    height: 100%;
    width: 20%;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #3B82F6;
    color: #FFFFFF;
    transition: all ease 0.1s;
}

.inp-search-box button:hover {
    background-color: #0051ff;
}







.main-wtr-info {
    width: 100%;
    height: 350px;
    background-color: #131b355b;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    overflow: scroll;
}

.box1 {

    height: 100%;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-shrink: 0;

}

.cloud-status {

    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.cloud-status img {
    height: 210px;


}

.temp-info {
    color: white;
    height: 200px;
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-shrink: 0;
}

.temp-info h1 {
    color: #FFFFFF;
    font-weight: 200;
    text-align: start;
    font-size: 100px;
    width: 100%;
    line-height: 0.9;


}

.divider {
    height: 60%;
    width: 1.5px;
    background-color: rgba(255, 255, 255, 0.2);
    transform: translateX(20px);
    flex-shrink: 0;
}

.box2 {

    height: 60%;
    width: 60%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    row-gap: 1px;
    column-gap: 10px
}

.miniboxes {

    height: 90px;
    width: 260px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;



}

.icon {
    /* background-color: blue; */
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;


}

.ic {
    filter:
        drop-shadow(0 0 3px currentColor);
}
















.wtr-details {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-shrink: 0;
    padding: 0px 10px 0px 10px;
    overflow: scroll;

}

.detail-box {
    height: 90px;
    width: 200px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0px 0px 0px 10px;
    background: hsla(0, 0%, 100%, 0.1);
    border-radius: 10px;
    flex-shrink: 0;

}


.last-cont {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #131b355b;

}

.fc-box1 {
    height: 100%;
    width: 55%;
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 10px;
    flex-shrink: 0;
    overflow: scroll;
    gap: 10px;
}

.fc {
    background-color: hsla(226, 47%, 14%, 0.5);
    color: #FFFFFF;
    height: 95%;
    width: 100px;
    border-radius: 20px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px 5px 0px;

}

.fc img {
    height: 40px;
}

.divider2 {
    height: 60%;
    width: 1.5px;
    background-color: rgba(255, 255, 255, 0.2);
}

.fc-box2 {
    padding: 0px 10px 0px 10px;
    background-color: red;
    height: 100%;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    padding: 10px 10px 10px 10px;

}